body {
  width: 100vw;
  height: 100vh;
  position: relative;
  
  /* Stars background */
  background-image: linear-gradient(rgb(18, 38, 58), rgb(199, 201, 176));
  
  /* Bubbles background */
  /* background-image: linear-gradient(rgb(3, 25, 48), rgb(214, 221, 185)); */
  
  /* background-color: transparent; */
  /* background-size: cover; */
  margin: 0;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  /* color: rgb(225,230,215) */
}

